<!doctype html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8" />
    <title>POKER</title>
    <script src="./phaser.min.js"></script>
    <script src="node_modules/@orange-games/phaser-input/build/phaser-input.js"></script>
    <style type="text/css">
        body {
            margin: 0;
        }
    </style>
</head>
<body>

<script type="text/javascript">

    const colors = ['heart', 'diamond', 'club', 'spade'];
    const name_of_card = ['2','3','4','5','6','7','8','9','10','jake','queen','king','ace']

    //const url_api = 'http://localhost:3000/api/v1/';
    const url_api = 'http://192.168.1.13:3000/api/v1/';

    const url_begin = url_api + 'new_room';
    const url_join = url_api + 'join_room';
    const url_random = url_api + 'random_room';
    const url_infos_game = url_api + 'infos_game';
    const url_fold = url_api + 'fold';
    const url_follow = url_api + 'follow';
    const url_raise = url_api + 'raise';
    const url_start = url_api + 'start';

    const small_text = 20;
    const medium_text = 30;
    const big_text = 50;

    const padding = 15;

    var game = new Phaser.Game(window.innerWidth, window.innerHeight, Phaser.AUTO, 'poker', { preload: preload, create: create, update: update });
    
    var idx_frame = 0;

    var button_new_game = null;
    var button_join_game = null;
    var button_random_game = null;
    var button_validate_join = null;
    var button_fold = null;
    var button_follow = null;
    var button_raise = null;
    var button_ready = null;

    var plus = null;
    var minus = null;

    var input_room_id = null;

    var gui_room_id = null;
    var gui_player = null;
    var gui_players = [];
    var gui_cards_board  = [];
    var gui_cards_hand = [];
    var gui_pot = null;
    
    var text_title = null;
    var text_author = null;
    var text_my_turn = null;
    var text_money_raise = null;
    var text_current_bet = null;
    var text_best_combination = null;
    var text_winner = null;
    var text_winner_2 = null;

    var background = null;

    var begin_game = false;
    var my_turn = false;
    var is_end = false;

    var room_id = '';
    var player_id = '';
    var round_id = -1;
    var cash = -1;
    var pot = 0;
    var best_combination = {'type':'', 'value':0};

    var current_bet = 0;
    var money_raise = 1;

    /*  _________________________________ PHASER FUNCTIONS _________________________________ */

    function preload () {
        console.log(window.innerWidth + ' -> ' +  window.innerHeight);
        game.add.plugin(PhaserInput.Plugin);
        game.load.image('table', 'assets/images/poker_table.png');
        game.load.image('button_new_game', 'assets/images/button_new_game.png');
        game.load.image('button_join_game', 'assets/images/button_join_game.png');
        game.load.image('button_random_game', 'assets/images/button_random_game.png');
        game.load.image('button_validate_join', 'assets/images/button_go.png');
        game.load.image('button_fold', 'assets/images/button_fold.png');
        game.load.image('button_follow', 'assets/images/button_follow.png');
        game.load.image('button_raise', 'assets/images/button_raise.png');
        game.load.image('button_ready', 'assets/images/button_ready.png');
        game.load.image('plus', 'assets/images/plus.png');
        game.load.image('minus', 'assets/images/minus.png');
        game.load.bitmapFont('gem', 'assets/fonts/gem.png', 'assets/fonts/gem.xml');
        colors.forEach(color => {
            for(var i=2; i<15; i++)
                game.load.image(i + '_' + color, 'assets/images/cards/' + color + '/' + i + '.png');
        });
    }

    function create () {

        background = game.add.image(0, 0, 'table');
        background.width = window.innerWidth;
        background.height = window.innerHeight;

        text_title = game.add.bitmapText(0, 0, 'gem', 'POKER ONLINE', big_text);
        text_author = game.add.bitmapText(0, 0, 'gem', 'by Leo Le Diouron', small_text);
        button_new_game = game.add.button(0,0, 'button_new_game', createRoom);
        button_join_game = game.add.button(0,0, 'button_join_game', askRoomId);
        button_random_game = game.add.button(0,0, 'button_random_game', randomRoom);
        
        text_title.centerX = innerWidth / 2;
        text_title.centerY = innerHeight / 2 - text_title.height * 3;
        text_author.centerX = innerWidth / 2;
        text_author.centerY = innerHeight - text_author.height * 3;
        button_new_game.centerX = innerWidth / 2;
        button_new_game.centerY = innerHeight / 2;
        button_join_game.centerX = innerWidth / 2;
        button_join_game.centerY = innerHeight / 2 + button_join_game.height * 2;
        button_random_game.centerX = innerWidth / 2;
        button_random_game.centerY = innerHeight / 2 + button_join_game.height * 4;
       
    }

    function update () {
        if (idx_frame % 30 == 0 && player_id != '') {
            var response = sendRequestGet(url_infos_game + "?room_id=" + room_id + '&player_id=' + player_id);
            my_turn = false;
            //console.log(JSON.stringify(response));
            // TODO : faire un system de responsive en fonction de la taille de la fenetre
            updateDatas(response);
            if (round_id != response['round_id'])
                round_id = response['round_id'];
        }
        if (text_money_raise != null) {
            text_money_raise.destroy();
            text_money_raise = game.add.bitmapText(0, 0, 'gem', money_raise, medium_text);
            text_money_raise.centerX = plus.centerX + ((minus.centerX - plus.centerX) / 2);
            text_money_raise.centerY = plus.centerY;
        }
        idx_frame++;
    }

    /* _________________________________ INITIALIZATION OF THE ROOM  _________________________________ */

    function createRoom() {
        var response = sendRequestGet(url_begin);
        room_id = response['room_id'];
        player_id = response['player_id'];
        cash = response['cash'];
        clearMenu();
        displayInfosRoom();
    }

    function joinRoom(_room_id) {
        var response = sendRequestGet(url_join + '?room_id=' + _room_id);
        console.log('error' in response);
        if ('error' in response) {
            //
        } else {
            room_id = response['room_id'];
            player_id = response['player_id'];
            cash = response['cash'];
            button_validate_join.destroy();
            input_room_id.destroy();
            displayInfosRoom();
        }
    }

    function askRoomId() {
        clearMenu();
        input_room_id = game.add.inputField(0, 0, { width: 150, padding: 8 });
        button_validate_join = game.add.button(0, 0, 'button_validate_join');
        input_room_id.centerX = window.innerWidth / 2;
        input_room_id.centerY = window.innerHeight / 2 - input_room_id.height;
        button_validate_join.centerX = window.innerWidth / 2;
        button_validate_join.centerY = window.innerHeight / 2 + button_validate_join.height;
        button_validate_join.events.onInputDown.add(function() {
            joinRoom(input_room_id.value);
        });
    }

    function randomRoom() {
        var response = sendRequestGet(url_random);
        console.log('error' in response);
        if ('error' in response) {
            //
        } else {
            room_id = response['room_id'];
            player_id = response['player_id'];
            cash = response['cash'];
            clearMenu();
            displayInfosRoom();
        }
    }

    function clearMenu() {
        text_title.destroy();
        text_author.destroy();
        button_new_game.destroy();
        button_join_game.destroy();
        button_random_game.destroy();
    }

    /*  _________________________________ DISPLAY GAME _________________________________ */

    function displayInfosRoom() {
        if (gui_room_id == null) {
            gui_room_id = game.add.bitmapText(padding, 10, 'gem', 'code : ' + room_id, medium_text);
            //gui_player = game.add.bitmapText(padding, window.innerHeight/2 - 50, 'gem', player_id + ' (' + cash + ')', medium_text);
            //game.add.bitmapText(padding, window.innerHeight/2 + 20, 'gem', '______', 50);
        }
    }

    function displayRules() {
        if (button_fold == null) {
            button_follow = game.add.button(window.innerWidth - 400, window.innerHeight - 200, 'button_fold', fold);
            button_raise = game.add.button(window.innerWidth - 400, window.innerHeight - 150, 'button_raise', raise);
            plus = game.add.button(window.innerWidth - 380 + button_raise.width, window.innerHeight - 150, 'plus', increaseMoneyRaise);
            minus = game.add.button(window.innerWidth - 270 + button_raise.width, window.innerHeight - 150, 'minus', decreaseMoneyRaise);
            text_money_raise = game.add.bitmapText(0, 0, 'gem', money_raise, big_text);
            text_money_raise.centerX = plus.centerX + ((minus.centerX - plus.centerX) / 2);
            text_money_raise.centerY = plus.centerY;
            plus.width = 40;
            plus.height = 40;
            minus.width = 40;
            minus.height = 40;
            button_fold = game.add.button(window.innerWidth - 400, window.innerHeight - 100, 'button_follow', follow);
        }
    }

    function displayCurrentBet(response) {
        if (text_current_bet == null || current_bet != response['round']['current_bet']) {
            if (text_current_bet != null)
                text_current_bet.destroy();
            current_bet = response['round']['current_bet'];
            text_current_bet = game.add.bitmapText(window.innerWidth - 400, window.innerHeight - 250, 'gem', 'current bet is ' + current_bet, medium_text);
            
        }
    }

    function displayBoard(response) {
        var idx = 0;
        var cards_board = response['round']['board'];

        if (cards_board.length != gui_cards_board.length || round_id != response['round_id']) {
            gui_cards_board.forEach(_gui_card_board => {
                _gui_card_board.destroy();
            });
            gui_cards_board = [];
            var starter = (cards_board.length - 2) - (cards_board.length - 3) / 2;
            cards_board.forEach(card => {
                var card_board = game.add.image(0, 0, card.value + '_' + card.color);
                card_board.width *= 0.6;
                card_board.height *= 0.6;
                card_board.centerX = window.innerWidth / 2 + (idx - starter) * (card_board.width * 1.25);
                card_board.centerY = window.innerHeight / 2 - (card_board.width);
                gui_cards_board.push(card_board);
                idx++;
            });
        }
    }

    function displayHand(response) {
        var idx = 0;
        
        if (gui_cards_hand != []) {
            gui_cards_hand.forEach(_gui_card_hand => {
                _gui_card_hand.destroy();
            })
        }
        gui_cards_hand = [];
        response['hand'].forEach(card => {
            var card_hand = game.add.image(0, 0, card.value + '_' + card.color);
            card_hand.width *= 0.6;
            card_hand.height *= 0.6;
            card_hand.centerX = window.innerWidth / 2 + (idx - 0.5) * (card_hand.width * 1.25);
            card_hand.centerY = window.innerHeight - card_hand.width;
            gui_cards_hand.push(card_hand);
            idx++;
        })
    }

    function displayInfosPlayers(response) {
        var players = response['players'];
        var position = 60;

        if (response['cash'] != cash || gui_player == null || gui_player.y != window.innerHeight - (players.length * 60)) {
            if (gui_player != null)
                gui_player.destroy();
            cash = response['cash'];
            gui_player = game.add.bitmapText(padding, window.innerHeight - (players.length * 60), 'gem', player_id + ' (' + cash + ')', medium_text);
        }

        gui_players.forEach(_gui_player => {
            _gui_player.destroy();
        });
        gui_players = [];

        players.forEach(_player => {
            if (_player.id != player_id) {
                var action = _player.action;
                //console.log('-> status : ' + response['status']);
                /*if ('round' in response && response['status'] == 1 && _player.id == response['round']['current_player']) {
                    console.log('what ??');
                    action = ' : playing...';
                }*/
                gui_players.push(game.add.bitmapText(padding, window.innerHeight - (players.length * 60) + position, 'gem', _player.id + ' (' + _player.cash + ')' + _player.action, medium_text));
                position += 60;
            }
        });
    }

    function displayBestCombination(response) {
        if ((text_best_combination == null && response['best_combination']['type'] != '') ||
            (best_combination['type'] != response['best_combination']['type'] || best_combination['value'] != response['best_combination']['value'])) {
            if (text_best_combination != null)
                text_best_combination.destroy();
            best_combination = response['best_combination'];

            var combi = '';
            if (best_combination['type'] == 'double_pair' || best_combination['type'] == 'full')
                combi = best_combination['type'] + ' of ' + name_of_card[best_combination['value'][0]-2] + ' / ' + name_of_card[best_combination['value'][1]-2];
            else if (best_combination['type'] == 'flush' || best_combination['type'] == 'straight_flush')
                combi = best_combination['type'] + ' of ' + best_combination['value']['color'];
            else
                combi = best_combination['type'] + ' of ' + name_of_card[best_combination['value']-2];

            while (combi.indexOf('_') != -1)
                combi = combi.replace('_', ' ');

            text_best_combination = game.add.bitmapText(window.innerWidth / 2 - 200, window.innerHeight - 400, 'gem', 'your best combination is : ' + combi, medium_text);
            text_best_combination.centerX = window.innerWidth / 2;
        }
    }

    function displayStartRound() {
        if (button_ready == null) {
            button_ready = game.add.button(0, window.innerHeight * 0.8, 'button_ready', startRound);
            button_ready.centerX = window.innerWidth / 2;
        }
    }

    function displayEnd(response) {

        if (text_my_turn != null)
            text_my_turn.destroy();
        
        if (text_best_combination != null)
            text_best_combination.destroy();

        button_follow.destroy();
        button_fold.destroy();
        button_raise.destroy();
        minus.destroy();
        plus.destroy();
        text_money_raise.destroy();
        text_current_bet.destroy();

        gui_cards_board.forEach(gui_card_board => { gui_card_board.destroy(); });
        gui_cards_hand.forEach(gui_card_hand => { gui_card_hand.destroy(); });

        text_my_turn = null;
        button_follow = null;
        button_fold = null;
        button_raise = null;
        minus = null;
        plus = null;
        text_money_raise = null;
        text_current_bet = null;
        text_best_combination = null;
        gui_cards_board = [];
        gui_cards_hand = [];

        if (text_winner == null && text_winner_2 == null) {
            text_winner = game.add.bitmapText(0, 0, 'gem', response['round']['winner']['name'] + ' won the round', big_text);
            if ('combination' in response['round']['winner'])
                text_winner_2 = game.add.bitmapText(0, 0, 'gem', 'with a ' + response['round']['winner']['combination'], medium_text);
            else
                text_winner_2 = game.add.bitmapText(0, 0, 'gem', 'because he is the last player', medium_text);
            
            text_winner.centerX = window.innerWidth / 2;
            text_winner.centerY = window.innerHeight / 2 - text_winner.height / 2;
            text_winner_2.centerX = window.innerWidth / 2;
            text_winner_2.centerY = window.innerHeight / 2 + text_winner_2.height;
        }

        is_end = true;
    }

    function updateRound(response) {
        
        displayRules(response);
        displayBoard(response);
        displayHand(response);
        displayCurrentBet(response);
        displayBestCombination(response);

        if (response['status'] == 1 && response['round']['pot'] != pot) {
            if (gui_pot != null)
                gui_pot.destroy();
            pot = response['round']['pot'];
            gui_pot = game.add.bitmapText(padding, 50, 'gem', 'pot : ' + pot, medium_text);
        } else if (response['status'] == 2 && gui_pot != null) {
            gui_pot.destroy();
        }

        if (text_my_turn != null && my_turn == false) {
            text_my_turn.destroy();
            text_my_turn = null;
        }
        if (text_my_turn == null && my_turn == true) {
            text_my_turn = game.add.bitmapText(window.innerWidth/2 - 250, 30, 'gem', 'your turn to play !', big_text);
        }

        if (button_ready != null) {
            button_ready = null;
        }

        if (text_winner != null && text_winner_2 != null) {
            text_winner.destroy();
            text_winner_2.destroy();
            text_winner = null;
            text_winner_2 = null;
        }
    }

    function updateDatas(response) {
        if (response['status'] == 0) {
            displayStartRound();
        } else if ('round' in response && response['status'] == 1) {
            is_end = false;
            if (response['round']['current_player'] == player_id)
                my_turn = true;
            updateRound(response);
        } else if (response['status'] == 2 && is_end == false) {
            updateRound(response);
            displayStartRound();
            displayEnd(response);
        }
        displayInfosPlayers(response);
    }
    /* _________________________________ ACTIONS _________________________________ */

    function fold() {
        if (my_turn == true) {
            sendRequestPost(url_fold  + "?room_id=" + room_id + '&player_id=' + player_id, null);
        }
    }

    function follow() {
        if (my_turn == true) {
            sendRequestPost(url_follow  + "?room_id=" + room_id + '&player_id=' + player_id, null);
        }
    }

    function raise() {
        if (my_turn == true) {
            sendRequestPost(url_raise  + "?room_id=" + room_id + '&player_id=' + player_id + '&raise=' + money_raise, null);
            money_raise = 1;
        }
    }

    function increaseMoneyRaise() {
        if (money_raise < cash)
            money_raise++;
    }

    function decreaseMoneyRaise() {
        if (money_raise > 1)
            money_raise--;
    }

    function startRound() {
        sendRequestPost(url_start + "?room_id=" + room_id + '&player_id=' + player_id, null);
        button_ready.destroy();
    }

    /* _________________________________ TOOLS _________________________________ */

    function sendRequestGet(url) {
        const req = new XMLHttpRequest();
        
        if (req.status == 0) {
            req.open('GET', url, false);
            req.send(null);
            return JSON.parse(req.response);
        } else {
            return {'error':true};
        }
    }

    function sendRequestPost(url, body) {
        const req = new XMLHttpRequest();
        
        if (req.status == 0) {
            req.open('POST', url, false);
            req.send(body);
            return JSON.parse(req.response);
        } else {
            return {'error':true};
        }
    }

</script>

</body>
</html>