<!doctype html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8" />
    <title>POKER</title>
    <script src="./phaser.min.js"></script>
    <script src="node_modules/@orange-games/phaser-input/build/phaser-input.js"></script>
    <style type="text/css">
        body {
            margin: 0;
        }
    </style>
</head>
<body>

<script type="text/javascript">

    const url_api = 'http://localhost:3000/api/v1/';
    var background_size = {'x':1536, 'y':723};

    const colors = ['heart', 'diamond', 'club', 'spade'];

    const url_begin = url_api + 'begin';
    const url_join = url_api + 'join';
    const url_game = url_api + 'game';

    console.log(window.innerWidth + ' -> ' +  window.innerHeight);

    var game = new Phaser.Game(window.innerWidth, window.innerHeight, Phaser.AUTO, 'poker', { preload: preload, create: create, update: update });
    
    var idx_frame = 0;
    var status = 0;

    var button_new_game = null;
    var button_join_game = null;
    var button_validate_join = null;

    var input_room_id = null;

    var gui_ready = null;

    var gui_room_id = null;
    var gui_player_id = null;
    var gui_players = [];
    var gui_cards_board  = [];
    var gui_cards_hand = [];

    var text_follow = null;
    var text_fold = null;
    var text_raise = null;

    var background = null;

    var status_game = 0;

    var room_id = '';
    var player_id = '';
    var cash = 0;
    //var players_id = [];

    /*  _________________________________ PHASER FUNCTIONS _________________________________ */

    function preload () {
        game.add.plugin(PhaserInput.Plugin);
        game.load.image('table', 'assets/images/poker_table.png');
        game.load.image('button_new_game', 'assets/images/button_new_game.png');
        game.load.image('button_join_game', 'assets/images/button_join_game.png');
        game.load.image('button_validate_join', 'assets/images/button_validate_join.png');
        game.load.bitmapFont('desyrel', 'assets/fonts/desyrel.png', 'assets/fonts/desyrel.xml');

        colors.forEach(color => {
            for(var i=2; i<15; i++)
                game.load.image(i + '_' + color, 'assets/images/cards/' + color + '/' + i + '.png');
        });

    }

    function create () {
        background = game.add.image(0, 0, 'table');
        button_new_game = game.add.button(0,0, 'button_new_game', createRoom);
        button_join_game = game.add.button(0,0, 'button_join_game', askRoomId);
        button_new_game.centerX = innerWidth / 2;
        button_new_game.centerY = innerHeight / 2 - button_new_game.height;
        button_join_game.centerX = innerWidth / 2;
        button_join_game.centerY = innerHeight / 2 + button_join_game.height;
    }

    function update () {
        if (idx_frame % 60 == 0 && player_id != '') {
            var response = sendRequest(url_game + "?room_id=" + room_id + '&player_id=' + player_id);
            if (response.status > 0 && status_game == 0) {
                console.log(JSON.stringify(response));
                displayInfosPlayers(response);
                displayBoard(response);
                displayHand(response);
                displayRules();
                status_game = 1;
            } else if (status_game == 1 && response['current_player'] == player_id) {
                
            }
        }
        idx_frame++;
    }

    /* _________________________________ INITIALIZATION OF THE ROOM  _________________________________ */

    function createRoom() {
        var response = sendRequest(url_begin);
        room_id = response['room_id'];
        player_id = response['player_id'];
        cash = response['cash'];
        button_new_game.destroy();
        button_join_game.destroy();
        displayInfosRoom();
    }

    function joinRoom(_room_id) {
        var response = sendRequest(url_join + '?room_id=' + _room_id);
        room_id = response['room_id'];
        player_id = response['player_id'];
        cash = response['cash'];
        button_validate_join.destroy();
        input_room_id.destroy();
        displayInfosRoom();
    }

    function askRoomId() {
        button_new_game.destroy();
        button_join_game.destroy();
        input_room_id = game.add.inputField(0, 0, { width: 150, padding: 8 });
        button_validate_join = game.add.button(0, 0, 'button_validate_join');
        input_room_id.centerX = window.innerWidth / 2;
        input_room_id.centerY = window.innerHeight / 2 - input_room_id.height;
        button_validate_join.centerX = window.innerWidth / 2;
        button_validate_join.centerY = window.innerHeight / 2 + button_validate_join.height;
        button_validate_join.events.onInputDown.add(function() {
            joinRoom(input_room_id.value);
        });
    }

    /*  _________________________________ DISPLAY GAME _________________________________ */

    function displayInfosRoom() {
        gui_room_id = game.add.bitmapText(10, 10, 'desyrel', 'code : ' + room_id, 50);
        gui_player_id = game.add.bitmapText(10, window.innerHeight/2, 'desyrel', player_id + ' : ' + cash, 50);
        var limit = game.add.bitmapText(10, window.innerHeight/2 + 20, 'desyrel', '______', 50);
    }

    function displayRules() {
        text_follow = game.add.bitmapText(window.innerWidth - 300, window.innerHeight - 240, 'desyrel', '[x] : follow', 50);
        text_fold = game.add.bitmapText(window.innerWidth - 300, window.innerHeight - 170, 'desyrel', '[c] : fold', 50);
        text_raise = game.add.bitmapText(window.innerWidth - 300, window.innerHeight - 100, 'desyrel', '[v] : raise', 50);
    }

    function displayBoard(response) {
        var idx = 0;

        response['round']['board'].forEach(card => {
            var card_board = game.add.image(0, 0, card.value + '_' + card.color);
            card_board.width *= 0.6;
            card_board.height *= 0.6;
            card_board.centerX = window.innerWidth / 2 + (idx - 1) * (card_board.width * 1.25);
            card_board.centerY = window.innerHeight / 2 - (card_board.width);
            gui_cards_board.push(card_board);
            idx++;
        });
    }

    function displayInfosPlayers(response) {
        var players = response['players'];
        var idx = 1;

        gui_players.forEach(_gui_player => {
            _gui_player.destroy();
        });
        gui_players = [];
        players.forEach(_player => {
            if (_player.id != player_id) { 
                gui_players.push(game.add.bitmapText(10, window.innerHeight/2 + idx * 60, 'desyrel', _player.id + ' : ' + _player.cash, 50));
                idx++;
            }
        });
    }

    function displayHand(response) {
        var idx = 0;
        
        response['hand'].forEach(card => {
            var card_hand = game.add.image(0, 0, card.value + '_' + card.color);
            card_hand.width *= 0.6;
            card_hand.height *= 0.6;
            card_hand.centerX = window.innerWidth / 2 + (idx - 0.5) * (card_hand.width * 1.25);
            card_hand.centerY = window.innerHeight - card_hand.width;
            gui_cards_hand.push(card_hand);
            idx++;
        })
    }

    /* _________________________________ TOOLS _________________________________ */

    function sendRequest(url) {
        const req = new XMLHttpRequest();
        
        req.open('GET', url, false);
        req.send(null);
        return JSON.parse(req.response);
    }

    // TODO : generic function
    function moveGuiRoom() {
        if (gui_room_id != null) {
            gui_room_id.x += 2;
            if (gui_room_id.x == 800)
                gui_room_id.x = 0;
        }
    }
</script>

</body>
</html>