<!doctype html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8" />
    <title>POKER</title>
    <script src="./phaser.min.js"></script>
    <script src="node_modules/@orange-games/phaser-input/build/phaser-input.js"></script>
    <style type="text/css">
        body {
            margin: 0;
        }
    </style>
</head>
<body>

<script type="text/javascript">

    const colors = ['heart', 'diamond', 'club', 'spade'];
    const name_of_card = ['2','3','4','5','6','7','8','9','10','jake','queen','king','ace']

    //const url_api = 'http://localhost:3000/api/v1/';
    const url_api = 'http://192.168.1.13:3000/api/v1/';

    const url_begin = url_api + 'begin';
    const url_join = url_api + 'join';
    const url_infos_game = url_api + 'infos_game';
    const url_fold = url_api + 'fold';
    const url_follow = url_api + 'follow';
    const url_raise = url_api + 'raise';

    var game = new Phaser.Game(window.innerWidth, window.innerHeight, Phaser.AUTO, 'poker', { preload: preload, create: create, update: update });
    
    var idx_frame = 0;

    var button_new_game = null;
    var button_join_game = null;
    var button_validate_join = null;
    var button_fold = null;
    var button_follow = null;
    var button_raise = null;

    var arrow_up = null;
    var arrow_down = null;

    var input_room_id = null;

    var gui_room_id = null;
    var gui_player = null;
    var gui_players = [];
    var gui_cards_board  = [];
    var gui_cards_hand = [];
    var gui_pot = null;
    
    var text_my_turn = null;
    var text_money_raise = null;
    var text_current_bet = null;
    var text_best_combination = null;

    var background = null;

    var begin_game = false;
    var my_turn = false;

    var room_id = '';
    var player_id = '';
    var round_id = -1;
    var cash = 0;
    var pot = 0;
    var best_combination = {'type':'', 'value':0};

    var current_bet = 0;
    var money_raise = 1;

    /*  _________________________________ PHASER FUNCTIONS _________________________________ */

    function preload () {
        console.log(window.innerWidth + ' -> ' +  window.innerHeight);
        game.add.plugin(PhaserInput.Plugin);
        game.load.image('table', 'assets/images/poker_table.png');
        game.load.image('button_new_game', 'assets/images/button_new_game.png');
        game.load.image('button_join_game', 'assets/images/button_join_game.png');
        game.load.image('button_validate_join', 'assets/images/button_go.png');
        game.load.image('button_fold', 'assets/images/button_fold.png');
        game.load.image('button_follow', 'assets/images/button_follow.png');
        game.load.image('button_raise', 'assets/images/button_raise.png');
        game.load.image('arrow_up', 'assets/images/arrow_up.png');
        game.load.image('arrow_down', 'assets/images/arrow_down.png');
        game.load.bitmapFont('desyrel', 'assets/fonts/desyrel.png', 'assets/fonts/desyrel.xml');
        colors.forEach(color => {
            for(var i=2; i<15; i++)
                game.load.image(i + '_' + color, 'assets/images/cards/' + color + '/' + i + '.png');
        });
    }

    function create () {
        background = game.add.image(0, 0, 'table');
        background.width = window.innerWidth;
        background.height = window.innerHeight;
        button_new_game = game.add.button(0,0, 'button_new_game', createRoom);
        button_join_game = game.add.button(0,0, 'button_join_game', askRoomId);
        button_new_game.centerX = innerWidth / 2;
        button_new_game.centerY = innerHeight / 2 - button_new_game.height;
        button_join_game.centerX = innerWidth / 2;
        button_join_game.centerY = innerHeight / 2 + button_join_game.height;
    }

    function update () {
        if (idx_frame % 30 == 0 && player_id != '') {
            var response = sendRequestGet(url_infos_game + "?room_id=" + room_id + '&player_id=' + player_id);
            console.log(JSON.stringify(response));
            my_turn = false;
            if ('round' in response) {
                if (response['round']['current_player'] == player_id)
                    my_turn = true;
                // TODO : faire un system de responsive en fonction de la taille de la fenetre
                updateDatas(response);
            }
            if (round_id != response['round_id'])
                round_id = response['round_id'];
        }
        if (text_money_raise != null) {
            text_money_raise.destroy();
            text_money_raise = game.add.bitmapText(window.innerWidth - 330 + button_raise.width, window.innerHeight - 150, 'desyrel', money_raise, 50);
        }
        idx_frame++;
    }

    /* _________________________________ INITIALIZATION OF THE ROOM  _________________________________ */

    function createRoom() {
        var response = sendRequestGet(url_begin);
        room_id = response['room_id'];
        player_id = response['player_id'];
        cash = response['cash'];
        button_new_game.destroy();
        button_join_game.destroy();
        displayInfosRoom();
    }

    function joinRoom(_room_id) {
        var response = sendRequestGet(url_join + '?room_id=' + _room_id);
        room_id = response['room_id'];
        player_id = response['player_id'];
        cash = response['cash'];
        button_validate_join.destroy();
        input_room_id.destroy();
        displayInfosRoom();
    }

    function askRoomId() {
        button_new_game.destroy();
        button_join_game.destroy();
        input_room_id = game.add.inputField(0, 0, { width: 150, padding: 8 });
        button_validate_join = game.add.button(0, 0, 'button_validate_join');
        input_room_id.centerX = window.innerWidth / 2;
        input_room_id.centerY = window.innerHeight / 2 - input_room_id.height;
        button_validate_join.centerX = window.innerWidth / 2;
        button_validate_join.centerY = window.innerHeight / 2 + button_validate_join.height;
        button_validate_join.events.onInputDown.add(function() {
            joinRoom(input_room_id.value);
        });
    }

    /*  _________________________________ DISPLAY GAME _________________________________ */

    function displayInfosRoom() {
        if (gui_room_id == null) {
            gui_room_id = game.add.bitmapText(10, 10, 'desyrel', 'code : ' + room_id, 50);
            gui_player = game.add.bitmapText(10, window.innerHeight/2 - 50, 'desyrel', player_id + ' (' + cash + ')', 50);
            //game.add.bitmapText(10, window.innerHeight/2 + 20, 'desyrel', '______', 50);
        }
    }

    function displayRules() {
        if (button_fold == null) {
            button_follow = game.add.button(window.innerWidth - 400, window.innerHeight - 200, 'button_fold', fold);
            button_raise = game.add.button(window.innerWidth - 400, window.innerHeight - 150, 'button_raise', raise);
            arrow_up = game.add.button(window.innerWidth - 380 + button_raise.width, window.innerHeight - 150, 'arrow_up', increaseMoneyRaise);
            arrow_down = game.add.button(window.innerWidth - 270 + button_raise.width, window.innerHeight - 150, 'arrow_down', decreaseMoneyRaise);
            text_money_raise = game.add.bitmapText(window.innerWidth - 330 + button_raise.width, window.innerHeight - 160, 'desyrel', money_raise, 50);
            arrow_up.width = 40;
            arrow_up.height = 40;
            arrow_down.width = 40;
            arrow_down.height = 40;
            button_fold = game.add.button(window.innerWidth - 400, window.innerHeight - 100, 'button_follow', follow);
        }
    }

    function displayCurrentBet(response) {
        if (text_current_bet == null || current_bet != response['round']['current_bet']) {
            if (text_current_bet != null)
                text_current_bet.destroy();
            current_bet = response['round']['current_bet'];
            text_current_bet = game.add.bitmapText(window.innerWidth - 400, window.innerHeight - 300, 'desyrel', 'current bet is ' + current_bet, 50);
            
        }
    }

    function displayBoard(response) {
        var idx = 0;
        var cards_board = response['round']['board'];

        if (cards_board.length != gui_cards_board.length || round_id != response['round_id']) {
            gui_cards_board.forEach(_gui_card_board => {
                _gui_card_board.destroy();
            });
            gui_cards_board = [];
            var starter = (cards_board.length - 2) - (cards_board.length - 3) / 2;
            cards_board.forEach(card => {
                var card_board = game.add.image(0, 0, card.value + '_' + card.color);
                card_board.width *= 0.6;
                card_board.height *= 0.6;
                card_board.centerX = window.innerWidth / 2 + (idx - starter) * (card_board.width * 1.25);
                card_board.centerY = window.innerHeight / 2 - (card_board.width);
                gui_cards_board.push(card_board);
                idx++;
            });
        }
    }

    function displayHand(response) {
        var idx = 0;
        
        if (gui_cards_hand != []) {
            gui_cards_hand.forEach(_gui_card_hand => {
                _gui_card_hand.destroy();
            })
        }
        gui_cards_hand = [];
        response['hand'].forEach(card => {
            var card_hand = game.add.image(0, 0, card.value + '_' + card.color);
            card_hand.width *= 0.6;
            card_hand.height *= 0.6;
            card_hand.centerX = window.innerWidth / 2 + (idx - 0.5) * (card_hand.width * 1.25);
            card_hand.centerY = window.innerHeight - card_hand.width;
            gui_cards_hand.push(card_hand);
            idx++;
        })
    }

    function displayInfosPlayers(response) {
        var players = response['players'];
        var idx = 1;

        gui_players.forEach(_gui_player => {
            _gui_player.destroy();
        });
        gui_players = [];
        players.forEach(_player => {
            if (_player.id != player_id) {
                var action = _player.action;
                if (_player.id == response['round']['current_player'])
                    action = ' : playing...';
                gui_players.push(game.add.bitmapText(10, window.innerHeight/2 + idx * 60, 'desyrel', _player.id + ' (' + _player.cash + ')' + _player.action, 50));
                idx++;
            }
        });
    }

    function displayBestCombination(response) {
        if ((text_best_combination == null && response['best_combination']['type'] != '') ||
            (best_combination['type'] != response['best_combination']['type'] || best_combination['value'] != response['best_combination']['value'])) {
            if (text_best_combination != null)
                text_best_combination.destroy();
            best_combination = response['best_combination'];
            var combi = '';
            if (best_combination['type'] != 'double_pair')
                combi = best_combination['type'].replace('_',' ') + ' of ' + name_of_card[best_combination['value']-2];
            else
                combi = best_combination['type'].replace('_',' ') + ' of ' + name_of_card[best_combination['value']['first_pair']-2] + ' / ' + name_of_card[best_combination['value']['second_pair']-2];
            text_best_combination = game.add.bitmapText(window.innerWidth / 2 - 200, window.innerHeight - 400, 'desyrel', 'your best combination is : ' + combi, 40)
        }
    }

    function updateRound(response) {
        displayRules(response);
        displayBoard(response);
        displayHand(response);
        displayCurrentBet(response);
        displayBestCombination(response);
        if (response['round']['pot'] != pot) {
            if (gui_pot != null)
                gui_pot.destroy();
            pot = response['round']['pot'];
            gui_pot = game.add.bitmapText(10, 50, 'desyrel', 'pot : ' + pot, 50);
        }
        if (response['cash'] != cash) {
            if (gui_player != null)
                gui_player.destroy();
            cash = response['cash'];
            gui_player = game.add.bitmapText(10, window.innerHeight/2 - 50, 'desyrel', player_id + ' (' + cash + ')', 50);
        }
        if (text_my_turn != null && my_turn == false) {
            text_my_turn.destroy();
            text_my_turn = null;
        }
        if (text_my_turn == null && my_turn == true) {
            text_my_turn = game.add.bitmapText(window.innerWidth/2 - 250, 30, 'desyrel', 'your turn to play !', 70);
        }
    }

    function updateDatas(response) {
        if (response['round'] != {})
            updateRound(response);
        
        displayInfosPlayers(response);
        
    }

    /* _________________________________ ACTIONS _________________________________ */

    function fold() {
        if (my_turn == true) {
            console.log('I fold !');
            sendRequestPost(url_fold  + "?room_id=" + room_id + '&player_id=' + player_id);
        }
    }

    function follow() {
        if (my_turn == true) {
            console.log('I follow !');
            sendRequestPost(url_follow  + "?room_id=" + room_id + '&player_id=' + player_id);
        }
    }

    function raise() {
        if (my_turn == true) {
            console.log('I raise by ' + money_raise + '!');
            sendRequestPost(url_raise  + "?room_id=" + room_id + '&player_id=' + player_id + '&raise=' + money_raise);
            money_raise = 1;
        }
    }

    function increaseMoneyRaise() {
        if (money_raise < cash)
            money_raise++;
    }

    function decreaseMoneyRaise() {
        if (money_raise > 1)
            money_raise--;
    }

    /* _________________________________ TOOLS _________________________________ */

    function sendRequestGet(url) {
        const req = new XMLHttpRequest();
        
        req.open('GET', url, false);
        req.send(null);
        return JSON.parse(req.response);
    }

    function sendRequestPost(url, body) {
        const req = new XMLHttpRequest();
        
        req.open('POST', url, false);
        req.send(body);
        return;
    }

    // TODO : generic function
    function moveGuiRoom() {
        if (gui_room_id != null) {
            gui_room_id.x += 2;
            if (gui_room_id.x == 800)
                gui_room_id.x = 0;
        }
    }
</script>

</body>
</html>